{% extends "base_centered.html" %}

{% load widget_tweaks %}

{% block content %}

    <div style="margin: 16px 0 64px 0 ;">
        <h1 class="h3 mb-3 font-weight-normal">ログイン</h1>
        <form action="" method="POST">
            <div style="width: 70%; margin: auto">
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field | add_class:'form-control'}}
                {{ field.errors }}
                <hr>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">ログイン</button>
            {% csrf_token %}
        </form>
        <a href="{% url 'password_reset' %}">パスワードをお忘れですか?</a>
    </div>

{% endblock content %}

