body {
  height: 100%;
  width: 100%;
  text-align: center;
  /* font-family:  */
  /* margin: 16px, 16px 16px, 0; */
}

.flexbox_container {
  display: flex;
  height: 100vh;
}

header {
  background-color: gray;
  width: calc(100% / 4);
  border-radius: 32px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  width: 60%;
  margin: 8px auto;
  background-color: aqua;
  border-radius: 8px;
}
.container .icon {
  padding: 8px 8px 0 0;
}
.container .content {
  font-size: 24px;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

.tweets, .information {
  font-size: 24px;
  padding: 16px 0;
  border-bottom: solid 1px antiquewhite ;
}

.comment_list_field {
  background-color: gray;
  width: calc(100% / 2);
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 32px;
}

.comment_wrapper {
  padding: 8px 0;
  border-bottom: solid 1px antiquewhite;
}

.comment_info {
  display: flex;
}

.infomation_field {
  background-color: gray;
  width: calc(100% / 3);
  border-radius: 32px;
}