{% extends 'base_centered.html' %}

{% load widget_tweaks %}

{% block content %}
            <div style="margin: 16px 0 64px 0">
                <h1 class="h3 mb-3 font-weight-normal">質問</h1>
                <form method="post">{% csrf_token %}
                    <div>
                        <label for="{{form.title.id_for_label}}">Title:</label>
                        {{form.title | add_class:'form-control'}}
                        <span class="error">{{form.title.errors}}</span>
                    </div>
                    <div>
                        <label for="{{form.body.id_for_label}}">Body:</label>
                        {{ form.body | add_class:'form-control'}}
                        <span class="error">{{form.body.errors}}</span>
                    </div>
                    <button type="submit" class="btn btn-lg btn-secondary btn-block">送信</button>
                </form>
            </div>

{% endblock content %}


