{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}"> -->
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
{% endblock header %}

{% block body %}
<div class="container container-m">
    <div class="row">
            <div class="comment_list_field">
                <p class="tweets" style="text-align: center; font-size: 2rem">Tweets</p>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
                {% if messages %}
                <div class="container">
                    <div>
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="comments_wrapper" >
                    {% for question in questions %}
                    <a href="{% url 'fudaichat:question' question.id %}" style="text-decoration: none; color: #6c757d">
                        <div class="comment_wrapper" style=" line-height: 2rem; border-bottom: solid 1px #6c757d">
                            <div class="comment_info">
                                <h3 class="comment_content">{{ question.title }}</h3>
                                <div class="" style="">
                                    <span class="user_name">{{ question.author }}</span>
                                    <span class="commented_date">{{ question.updated_at }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
            </div>
    </div>
</div>
{% endblock body%}
