{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}"> -->
{% endblock header %}

{% block body %}
<div class="container container-m">
    <div class="row">
            <div class="comment_list_field">
                <p class="tweets" style="text-align: center; font-size: 2rem">質問一覧</p>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
                <div class="select-wrap">
                    <form action="" method="GET">
                        <select name="sort_order" id="sort_order" onchange="submit(this.form)">
                            <option value="">並び替え</option>
                            <option value="date_desc">質問日時の新しい順</option>
                            <option value="date_asc">質問日時の古い順</option>
                            <option value="ans_desc">回答数の多い順</option>
                            <option value="ans_asc">回答数の少ない順</option>
                            <option value="likes_desc">いいねの多い順</option>
                        </select>
                    </form>
                </div>
                <div class="comments_wrapper" >
                    {% for question in questions %}
                    <div>
                        <a href="{% url 'fudaichat:question' question.id %}" style="text-decoration: none; color: #6c757d">
                            <div class="comment_wrapper" style=" line-height: 2rem; border-bottom: solid 1px #6c757d">
                                <div class="comment_info">
                                    
                                    <h3 class="comment_content">{{ question.title }}</h3>
                                    <p>{{ question.body|truncatechars_html:100}}</p>
                                    <div class="" style="">
                                        <span class="user_name">{{ question.author }}</span>
                                        <span class="commented_date">{{ question.updated_at }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% include 'like.html' %}
                    </div>
                    {% endfor %}
                </div>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'fudaichat:like' %}",
                data: {
                    'question_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.question_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-thumbs-up'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-thumbs-up'></i>");
                    }
                    selector2 = document.getElementsByName(response.question_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
    </script>
{% endblock body%}
