{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}"> -->
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
{% endblock header %}

{% block body %}
<div class="container container-m">
    <div class="row">
            <div class="comment_list_field">
                <p class="tweets" style="text-align: center; font-size: 2rem">Tweets</p>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
                {% if messages %}
                <div class="container">
                    <div>
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="comments_wrapper" >
                    {% for item in comment_all_items%}
                    <div class="comment_wrapper" style=" line-height: 2rem; border-bottom: solid 1px #6c757d">
                        <div class="comment_info">
                            <div class="">
                                <div class="user_name">{{ item.author }}</div>
                                <div class="commented_date">{{ item.post_date }}</div>
                            </div>
                        </div>
                        <div class="comment_content">{{ item.content }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    {% include 'simple_pagination.html' %}
                </div>
            </div>
    </div>
</div>
{% endblock body%}
