<nav aria-level="">
    <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link disabled">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>